<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Github tests" parallel="methods" thread-count="4">
    <parameter name="searchText" value="projectlombok/lombok"/>
    <parameter name="project" value="projectlombok"/>
    <parameter name="repository" value="lombok"/>
    <parameter name="expectedUrl" value="https://github.com/projectlombok/lombok.git"/>
    <test name="Sanity Test">
        <groups>
            <run>
                <include name="search"/>
                <include name="repository"/>
            </run>
        </groups>
        <packages>
            <package name="paweljjj"/>
        </packages>
    </test>
</suite>